<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rocinante</title>
    <link rel="stylesheet" href="template/rocinante.css" type="text/css">
    {{/*    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">*/}}

</head>

<script src="https://kit.fontawesome.com/3cc072332d.js" crossorigin="anonymous"></script>

<link href="https://unpkg.com/tabulator-tables/dist/css/tabulator.min.css" rel="stylesheet">
<script src="http://cdn.zoomcharts-cloud.com/1/latest/zoomcharts.js"></script>

{{/*<link href="https://unpkg.com/tabulator-tables@4.6.3/dist/css/tabulator.min.css" rel="stylesheet">*/}}
<script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.6.3/dist/js/tabulator.min.js"></script>

<!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/sandstone/bootstrap.min.css"
      crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->
            {{/*<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"*/}}
            {{/*        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"*/}}
            {{/*        crossorigin="anonymous"></script>*/}}
<script
        src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

<script src="https://cdn.zoomcharts-cloud.com/1/latest/zoomcharts.js" crossorigin="anonymous">
</script>

<script type="text/javascript"> var ZoomChartsLicense = "ZCS-8d8vb888d: ZoomCharts SDK 30 day Free Trial License for mba..@..d.edu (valid for testing only); upgrades until: 2020-07-03";
    var ZoomChartsLicenseKey = "ab070e335b602f8f040374a37cbfadf843f942570eb2faa272" + "824ad0d007881085e2210dc592f01fc9b945c2af5d45030df42776ad053bfbf4e3001c0712cdb" + "7e50242d53595930a76fd1541e81ae133a6f8477b350451868a434df9c09106e578e58cfaa5d1" + "ff5288ee0400ea5c51817b834d23f1bfd26e232bc7552c4d57637a755e90ff43baa7e9d3c1d67" + "66d2775e52b51f9a740629325c4bdfdda146d2c20f24591de61e2de2a27fb39f6885ef5215432" + "dc6bdd581573699c9f48c654a6a07efe70452437282aa2ab99e1de13235eb23c5cb5d97e677cf" + "81807cb1ab0155b8618451b05e2652720328db816baf8b292d06d2520b3b34c1dbc40a8c460ee"; </script>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
    <div class="container-fluid">
        <a href="#" class="navbar-brand mr-3">Rocinante</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="/" class="nav-item nav-link active">Home</a>
                <a href="/log" class="nav-item nav-link"><i class="fas fa-stream"></i> Log</a>
                <a href="#" class="nav-item nav-link">load balancer</a>
                <a href="/flow" class="nav-item nav-link">flows</a>
                <a href="/flows/size/100" class="nav-item nav-link"><i class="fas fa-stream"></i>json flow</a>
                <a href="#" class="nav-item nav-link">submit</a>
            </div>
            <div class="navbar-nav ml-auto">
                    <a class="loveit nav-item nav-link" href="javascript:;" onClick="Shutdown(this);" rel="/shutdownGrpc">shutdown grpc</a>
                <a href="#" class="nav-item nav-link"><i class="fas fa-sign-out-alt"></i> Login</a>
            </div>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <div class="jumbotron">

        <h5><span class="fas fa-server"></span> Server status</h5>

        <div id="chart"></div>
        <br>
        <table class="table table-sm">
            <thead class="thead-dark">
            <tr>
                <th scope="col"></th>
                <th scope="col">server</th>
                <th scope="col">server id</th>
                <th scope="col">role</th>
                <th scope="col">term</th>
                <th scope="col">last update</th>
            </tr>
            </thead>
            <tbody>
            {{range .ServerStatus}}
                <tr>
                    <th scope="row"><i class="fab fa-battle-net"></i></th>
                    <th>{{.ServerBind}} </th>
                    <td>{{.ServerID}}</td>
                    <td>{{.Role}}</td>
                    <td>{{.Term}}</td>
                    <td>{{.LastUpdate}}</td>
                </tr>
            {{end}}
            </tbody>
        </table>
        <div class="jumbotron">
            <div id='log-table'
                 class="table-sm table-borderless thead-dark text-warning bg-dark" style="font-size: 12px"></div>
        </div>
    </div>

    <div class="row">

    </div>

    <hr>
    <footer>
        <div class="row">
            <div class="col-md-6">
                <p>Stanford &copy; 2020</p>
            </div>
            <div class="col-md-6 text-md-right">
                <a href="#" class="text-dark">Terms of Use</a>
                <span class="text-muted mx-2">|</span>
                <a href="#" class="text-dark">Privacy Policy</a>
            </div>
        </div>
    </footer>
</div>

</body>
</html>

<script>


    var t = new NetChart({
        container: document.getElementById("chart"),
        area: {height: 350},
        events:{
            onClick:function(event){
                if (event.clickNode) {
                   // event.chart.removeData({nodes:[{id:event.clickNode.id}]});
                   //    t = {nodes:[{id:event.clickNode}]}
                    ShutdownNode(event.clickNode.id)
                    event.chart.removeData({nodes:[{id:event.clickNode.id}]});
                   // var intervalHandle = setInterval(function () { chart.reloadData() }, 500);
                }
                event.preventDefault();
            }
        },
        navigation: {
            mode: "focusnodes",
            numberOfFocusNodes: 1,
            initialNodes: [{{(index .ServerStatus 0).ServerBind}}]
        },
        style: {
            nodeStyleFunction: function (node) {
                node.label = "";
                node.items.push({
                    text: '&#xf1c0;',
                });
            },
            item: {
                text: "",
                textStyle: {
                    font: "2    20px FontAwesome",
                    shadowOffsetY: 1
                }
            },
            linkLabel: {
                textStyle: {
                    font: "10px FontAwesome"
                }
            }
        },
        advanced: {
            assets: ['https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css']
        },
        layout: {
            aspectRatio: true,
            nodeSpacing: 80
        },
        {{/*focusnodes:  {{(index .ServerStatus 0).ServerBind}},*/}}

        data: {
            preloaded: {
                nodes: [
                    {{range .ServerStatus}}
                        {id: {{.ServerBind}} },
                    {{end}}
                ],
                links: [
                    {{ $status:= .ServerStatus }}
                    {{ range $s := $status}}
                      {{ range $c := $s.Connected }}
                         {id: "{{$s.ServerBind}}-{{$c.ServerNei}}", from: {{$s.ServerBind}}, to: {{$c.ServerNei}}},
                      {{end}}
                    {{end}}
                ]
            }
        },
        interaction: {selection: {lockNodesOnMove: false}}
    });

    var tabledata = [];

    setInterval(function () {

        var table = new Tabulator("#log-table", {
            height: 280,
            layout: "fitData",
            ajaxURL: "/log",
            ajaxProgressiveLoad: "load",
            ajaxProgressiveLoadDelay: 1000,
            rowFormatter: function (row) {
                row.getElement().classList.add("table-light"); //mark rows with age greater than or equal to 18 as successful;
                row.getElement().classList.add("bg-light"); //mark rows with age greater than or equal to 18 as successful;
                row.getElement().classList.add("table-borderless"); //mark rows with age greater than or equal to 18 as successful;
            },

            placeholder: "No Data Set",
            layout: "fitColumns",
            columns: [
                {title: "#", field: "Synced", formatter: "tickCross", width: 50},
                {title: "term", field: "term", width: 150, frozen: true},
                {title: "key", field: "key"},
                {title: "value", field: "value", sorter: "date"},
            ]
        });

    }, 4000);

    function ShutdownNode(placeholder) {

        var s = '/shutdownNode/'
        req = s.concat(placeholder)
        alert(req)

        $.ajax({
            url: req,
            type: "GET",
            success:function(){
                // alert("done");
            },
            error:function (){
                // alert("testing error");
            }
        });
        return false;
    }

    function Shutdown(placeholder) {

        // var s = '/shutdownNode'
        // req = s.concat($(placeholder))
        // alert(req)
        //
        // $.ajax({
        //                url: $(placeholder).attr('rel'),
        //     type: "GET",
        //     success:function(){
        //        // alert("done");
        //     },
        //     error:function (){
        //         alert("testing error");
        //     }
        // });
        // return false;
    }

</script>
